nav, .Content {
    display: flex;
}


nav {
    border: solid black 3px;
    height: 150px;
    font-size: 140%;
    font-weight: 500;
}

.Content {
    border: solid red 3px;
}

.Content > div {
    font-size: 30px;
    float: left;
    height: 600px;
  }

.Left {
    border: solid greenyellow 3px;
    flex-grow: 1;
}

.Right {
    border: solid yellow 3px;
    flex-grow: 1;
}

.Center {
    border: solid blue 3px;
    flex-grow: 6;
}